*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
}
section h2{
    margin: 1rem 0;
    text-align: center;
}

.container-grid{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

picture{
    border: 1px dotted grey;
    margin: 0.5rem;
    width: 250px;
    height: 250px;
}

picture img{
    width: 250px;
    height: 250px;
}