* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

section {
    width: 96%;
    margin: 0 auto;
    background-color: #9c88ff;
    padding: 1rem;
    text-align: center;
}

/* Estilos generales de algunos contenedores */
.elemento-hijo {
    width: 185px;
    height: 150px;
    background-color: coral;
    color: ivory;
    margin: 0.5rem;
    padding: 0.5rem;
}
.container-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.container-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.flex-wrapp {
    border: 2px solid blue;
    width: 45%;
    margin: 1rem 2rem;
    background-color: #9c88ff;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dos, .tres {
    flex-grow: 2;
}

.abuelo-contenedor{
    border: 2px dotted blue;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.papa-contenedor-fijo, .papa-contenedor-fluid{
    border: 2px dashed grey;
    display: block;
    gap: 0.25rem;
    width: 40%;
    margin: 0.5rem;
    padding: 0.5rem;
}
.papa-contenedor-fluid{
    border: 2px dashed green;
    width: 60%;
}
.hijo-fijo, .hijo-fluido{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-item-hijo, .flex-item-hijoFluido{
    /* min-width: 100px;
    height: 50px; */
    background-color: coral;
    color: ivory;
    margin: 0.5rem;
    padding: 0.5rem;
    line-height: 2rem;
}
.mini-caja-uno{
    background-color: chocolate;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    row-gap: 0.5rem;
    border: 1px solid black;
}
.mini-caja-cero{
    align-items: stretch;
}
.mini-caja-dos{
    justify-content: flex-end;
}
.mini-caja-tres{
    justify-content: center;
}
.mini-caja-cuatro{
    justify-content: space-between;
}
.mini-caja-cinco{
    justify-content: space-around;
}
.mini-caja-seis{
    justify-content: space-evenly;
}

.papa-contenedor-aling-items{
    border: 1px dashed red;
    margin: 0.5rem 0;
    width: 90%;
}
.mini-caja-ai{
    width: 100%;
}
.ai-box{
    border: 1px solid black;
    margin: 0.5rem auto;
    width: 90%;
    height: 200px;
    display: flex;
}
.ai-caja-uno{
    align-items: stretch;
}
.ai-caja-dos{
    align-items: flex-start;
}
.ai-caja-tres{
    align-items: flex-end;
}
.ai-caja-cuatro{
    align-items: center;
}
.ai-caja-cinco{
    align-items: baseline;
}
