* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

section {
    width: 96%;
    margin: 0 auto;
    background-color: #9c88ff;
    padding: 1rem;
    text-align: center;
}

/* Estilos generales de algunos contenedores */
.elemento-hijo {
    width: 185px;
    height: 150px;
    background-color: coral;
    color: ivory;
    margin: 0.5rem;
    padding: 0.5rem;
}
.container-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.container-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.flex-wrapp {
    border: 2px solid blue;
    width: 45%;
    margin: 1rem 2rem;
    background-color: #9c88ff;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dos, .tres {
    flex-grow: 2;
}

.abuelo-contenedor{
    border: 2px dotted blue;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.papa-contenedor-fijo{
    border: 2px solid grey;
    display: block;
    gap: 0.25rem;
    width: 40%;
}
.hijo-fijo, .hijo-fluido{
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-item-hijo, .flex-item-hijoFluido{
    width: 100px;
    height: 50px;
    background-color: coral;
    color: ivory;
    margin: 0.5rem;
    padding: 0.5rem;
    line-height: 2rem;
}
.mini-caja-uno{
    display: flex;
    align-items: center;
}
.papa-contenedor-fluid{
    border: 2px dashed green;
    display: block;
    gap: 0.25rem;
    width: 60%;
}